Repository Binary-Catalyst/.github, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abarrows, @NathanTrost, @acroth

.github/CODEOWNERS:

# General Software Engineering
*                               @abarrows @NathanTrost @acroth

# Front-end Engineering

*.html.**                       @acroth
*.erb                           @acroth
*.jsx                           @acroth
*.js                            @acroth
*.css                           @acroth
*.scss                          @acroth
*.sass                          @acroth
*.otf                           @acroth
*.eot                           @acroth
*.ttf                           @acroth
*.woff*                         @acroth
*.svg                           @acroth
*.jpg                           @acroth
*.jpeg                          @acroth
*.gif                           @acroth
*.png                           @acroth
*.ico                           @acroth
**.eslint**                     @acroth
**.prettier**                   @acroth
**robots.**                     @acroth
/public/**                      @acroth

# Back-end Engineering

*.rb                            @NathanTrost
bin/**                          @NathanTrost
db/**                           @NathanTrost
lib/**                          @NathanTrost

# DevOps
/*                              @abarrows @NathanTrost @acroth
/config/**                      @abarrows @NathanTrost @acroth
.github/**                      @abarrows @NathanTrost @acroth
jenkins/**                      @abarrows @NathanTrost @acroth
/**Gemfile**                    @abarrows @NathanTrost @acroth
/**.env**                       @abarrows @NathanTrost @acroth
/**.nvmrc**                     @abarrows @NathanTrost @acroth

# Advertising

/config/ads.txt                 @acroth

Testing for nathan now.
  samples/example.rb
Owners: @NathanTrost

Updating the codeowners to no longer have a cron job and to not run checks on file presence since it will be a template.
  .github/workflows/codeowners-validation.yml
Owners: @abarrows, @NathanTrost, @acroth

Testing css codeowners.
  samples/index.css
Owners: @acroth

CURRENTLY_STABLE: Testing action outputs from release drafter to pull request drafter.
  .github/workflows/pull-request-drafter.yml
Owners: @abarrows, @NathanTrost, @acroth

Test for auto-merge.
  samples/example.rb
Owners: @NathanTrost

Testing again.
  samples/example.rb
Owners: @NathanTrost

Testing if the package-lock.json
  .github/workflows/main.yml
Owners: @abarrows, @NathanTrost, @acroth

Testing the package-lock validator.
  .github/package-lock.json
Owners: @abarrows, @NathanTrost, @acroth

Adding ID and updating the syntax.
  .github/workflows/main.yml
  .github/workflows/yarn-validation.yml
Owners: @abarrows, @NathanTrost, @acroth

Updating to not a string.
  .github/workflows/yarn-validation.yml
Owners: @abarrows, @NathanTrost, @acroth

Flipping it back so we can test in the default branch.
  .github/workflows/yarn-validation.yml
Owners: @abarrows, @NathanTrost, @acroth

Getting caught up.
  .github/package-lock.json
  .github/pr-labeler.yml
  samples/example.rb
Owners: @abarrows, @NathanTrost, @acroth

Trying new reject package-lock.
  .github/workflows/yarn-validation.yml
Owners: @abarrows, @NathanTrost, @acroth

Trying to push to staging
  .github/package-lock.json
Owners: @abarrows, @NathanTrost, @acroth

Updating the file change action.
  .github/workflows/yarn-validation.yml
Owners: @abarrows, @NathanTrost, @acroth

Update yarn-validation.yml
  .github/workflows/yarn-validation.yml
Owners: @abarrows, @NathanTrost, @acroth

Update yarn-validation.yml
  .github/workflows/yarn-validation.yml
Owners: @abarrows, @NathanTrost, @acroth

Moving the package-lock to the root.
  package-lock.json
Owners: @abarrows, @NathanTrost, @acroth

Removing package lock to see if the validator works.
  package-lock.json
Owners: @abarrows, @NathanTrost, @acroth

Adding all branches.
  .github/workflows/yarn-validation.yml
Owners: @abarrows, @NathanTrost, @acroth

Moving package-lock into the root.
  package-lock.json
Owners: @abarrows, @NathanTrost, @acroth

Adding new todos to see if it works.
  .github/README.md
Owners: @abarrows, @NathanTrost, @acroth

Update release-drafter.yml
  .github/workflows/release-drafter.yml
Owners: @abarrows, @NathanTrost, @acroth

Testing with EB
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE.md
Owners: @abarrows, @NathanTrost, @acroth

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE.md
Owners: @abarrows, @NathanTrost, @acroth

Update pull-request-performance-check.yml
  .github/workflows/pull-request-performance-check.yml
Owners: @abarrows, @NathanTrost, @acroth

Comment out Lighthouse workflow and update package-lock.json
  .github/workflows/pull-request-performance-check.yml
  package-lock.json
Owners: @abarrows, @NathanTrost, @acroth

Removing lighthouse.
  .github/release-drafter-config.yml
  .github/workflows/pull-request-labeler.yml
  .github/workflows/pull-request-performance-check.yml
Owners: @abarrows, @NathanTrost, @acroth

Update GitHub workflows and auto-labeling rules for improved PR management
  .github/release-drafter-config.yml
  .github/workflows/pull-request-merger.yml
  .github/workflows/release-drafter.yml
Owners: @abarrows, @NathanTrost, @acroth

Fix multiline syntax in Jira workflow comment action
  .github/workflows/development-jira.yml
Owners: @abarrows, @NathanTrost, @acroth

Add PR workflow and update release-drafter triggers for main branch
  .github/workflows/release-drafter.yml
Owners: @abarrows, @NathanTrost, @acroth

Add release drafter workflow and PR validation checks
  .github/workflows/release-drafter.yml
Owners: @abarrows, @NathanTrost, @acroth

Add PR workflows for ticket validation and auto-merge with custom token
  .github/workflows/pull-request-merger.yml
Owners: @abarrows, @NathanTrost, @acroth

Add PR workflow with ticket check and label validation, enable autolabeling
  .github/workflows/release-drafter.yml
Owners: @abarrows, @NathanTrost, @acroth

Add GitHub workflows for PR validation and version bumping
  .github/workflows/release-drafter.yml
Owners: @abarrows, @NathanTrost, @acroth

Update .github/workflows/pull-request-merger.yml
  .github/workflows/pull-request-merger.yml
Owners: @abarrows, @NathanTrost, @acroth

Add PR workflows and update automerge conditions
  .github/workflows/pull-request-merger.yml
Owners: @abarrows, @NathanTrost, @acroth

Add GitHub workflows for PR validation and version bumping
  .github/workflows/release-drafter.yml
Owners: @abarrows, @NathanTrost, @acroth

Add PR checks and refactor GitHub token handling in workflow files
  .github/workflows/release-drafter.yml
Owners: @abarrows, @NathanTrost, @acroth

Add PR workflow and fix env indentation in release-drafter.yml
  .github/workflows/release-drafter.yml
Owners: @abarrows, @NathanTrost, @acroth
